body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.content{
  padding-left: 100px;
  padding-right: 50px;
}
.logo{
  padding:5px 0px 0px 25px;
  width:auto;
  height:60px;
}

.header-container p{
  padding-left: 20px;
  color:#003DA5;
  font-size: 13px;
}
ul.navbar li {
  display: inline;
  list-style-type: none;
}
ul.navbar {
  background-color:#003DA5;
  padding: 0px;
  width:100%;
}
ul.navbar li a {
  color: #FFF;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  padding: 18px;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
}
.flexcontainer{
  display: flex;
  flex-direction: row;
}
.flexcontainer section {
  width: 60%;
  font-family: sans-serif;
  padding: 0px 10px 0px 10px;
}
.flexcontainer p{
  font-size:17px;
  line-height: 30px!important;
  color: #333;
}
.flexcontainer h1{
  font-size: 30px;
}
.flexcontainer section h3{
  color: #333333;
  border-bottom: 2px solid #ddd;
  padding: 0 0 6px 0;
}
.flexcontainer aside{
  width: 40%;
  padding: 0px 20px 0px 20px;
}
.people{
  width:150px;
  height:150px;
}
td{
  text-align: center;
  padding: 8px; 
}
.tabletitle{
  width: 100%;
}


